@charset "UTF-8";
@import url(//db.onlinewebfonts.com/c/c8a005246131bdb05a90af9381307351?family=Noe+Display+Medium);
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

@font-face {
  font-family: "Noe Display";
  src: url("//db.onlinewebfonts.com/t/c8a005246131bdb05a90af9381307351.eot");
  src: url("//db.onlinewebfonts.com/t/c8a005246131bdb05a90af9381307351.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/c8a005246131bdb05a90af9381307351.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/c8a005246131bdb05a90af9381307351.woff") format("woff"), url("//db.onlinewebfonts.com/t/c8a005246131bdb05a90af9381307351.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/c8a005246131bdb05a90af9381307351.svg#Noe Display Medium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Larsseit';
  src: url("../fonts/Larsseit.eot");
  src: local("☺"), url("../fonts/Larsseit.woff") format("woff"), url("../fonts/Larsseit.ttf") format("truetype"), url("../fonts/Larsseit.svg") format("svg");
  font-weight: 300;
  font-style: normal; }
.btn:focus {
  border: 0px !important; }

.btn-secondary {
  background-color: rgba(0, 0, 0, 0);
  border: 0px; }

.show > .btn-secondary.dropdown-toggle {
  background-color: rgba(0, 0, 0, 0);
  border: 0px; }

.btn-secondary.focus, .btn-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0) !important; }

.navbar-dark .navbar-toggler {
  border: 0px solid red; }

.navbar-toggler.focus {
  border: 0px; }

.c-icon {
  width: 1.8em;
  height: 1.8em; }

.btn-secondary:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border: 0px; }

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
  background-color: rgba(0, 0, 0, 0); }

.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0); }

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  width: 100%;
  height: 60px;
  border: 0px;
  background: rgba(0, 0, 0, 0);
  border-bottom: 4px solid #41EAD4 !important;
  font-family: 'Larsseit';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 200%;
  opacity: 1;
  text-align: center;
  letter-spacing: -0.02em;
  color: #41EAD4; }

@keyframes slidein2 {
  from {
    margin-top: -100px; }
  to {
    margin-top: 5px; } }
@keyframes slidein {
  from {
    margin-left: 115%;
    width: 0%; }
  to {
    width: 100%; } }
.form-control {
  height: 40px;
  width: 100%;
  animation-duration: 1s;
  animation-name: slidein; }

#dropdownMenuLink {
  margin-right: 12px;
  width: 100%; }

.searcherWidth {
  width: 600% !important; }

.dropdown-menu.show {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px !important;
  margin: 0px !important;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  border: 0px !important; }

.dropdown-menu.show.b {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px !important;
  margin: 0px !important;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  border: 0px !important; }

.dropleft-text {
  margin: 10px;
  position: relative;
  right: 400px;
  bottom: 200px; }

.dropdown-text2 {
  padding: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: auto;
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 31px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-family: 'Larsseit', sans-serif;
  color: #FFFFFF; }

.dropdown-text {
  margin: 5px;
  padding: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: auto;
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 31px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-family: 'Larsseit', sans-serif;
  animation-duration: 1s;
  animation-name: slidein2;
  color: #FFFFFF; }
  .dropdown-text:hover {
    background: #00C9E0;
    opacity: 0.8;
    border-radius: 4px;
    font-weight: bold;
    color: black; }

.dropleft-text {
  position: relative;
  top: -10px;
  display: flex;
  flex-direction: row;
  width: 400%; }

.img-fluid {
  max-width: 1000%; }

.dropleft .dropdown-toggle::before {
  opacity: 0; }

.menu {
  background-color: rgba(0, 0, 0, 0) !important; }

.topPage {
  background: url("img/topImg.webp") 50%/cover no-repeat;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .topPage .navbar {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .topPage .navbar .navbarLogo {
      position: relative;
      top: 0px;
      font-family: 'Noe Display',sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 190%;
      color: #FFFFFF; }
    .topPage .navbar .navbar-expand-lg .navbar-collapse {
      justify-content: flex-end !important; }
    .topPage .navbar .navbar-menu .imgNavbar {
      height: 25px;
      width: 25px;
      margin-right: 20px; }
    .topPage .navbar .navbar-menu .navbarButtonMenu {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      width: 160px;
      background: #00C9E0;
      box-shadow: 5px 15px 40px rgba(0, 201, 224, 0.2);
      border-radius: 48px;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 21px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      font-family: 'Larsseit', sans-serif;
      color: #FFFFFF; }
  .topPage .TextTop {
    height: 300px;
    width: 70%;
    margin-top: 100px; }
    .topPage .TextTop .TextTop1 {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Noe Display',sans-serif;
      font-style: normal;
      font-size: 120px;
      line-height: 153px;
      letter-spacing: -0.02em;
      color: #FFFFFF; }
    .topPage .TextTop .TextTop2 {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      font-family: 'Larsseit', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #FFFFFF;
      padding: 25px; }
    .topPage .TextTop .TextTop3 {
      width: 100%;
      font-family: 'Larsseit', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      line-height: 150%;
      text-align: center;
      color: #FFFFFF; }
  .topPage .contact {
    height: 200px;
    width: 90%;
    margin-top: 200px; }
    .topPage .contact .scroll {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .topPage .contact .scroll .scrollText {
        font-family: 'Larsseit', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 190%;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        opacity: 0.9;
        transform: rotate(-90deg); }
      .topPage .contact .scroll .scrollArrow {
        margin-top: 25px;
        height: 80px;
        width: 2px;
        background: linear-gradient(180deg, #09F4F4 0%, #00C9E0 100%);
        border-radius: 13px; }
    .topPage .contact .contactIcons {
      height: 18px;
      width: 22px; }
      .topPage .contact .contactIcons .iconCont {
        margin-top: 10px; }
  .topPage .navGrad {
    position: relative;
    top: 25px;
    height: 157px;
    width: 100%;
    background: linear-gradient(180deg, rgba(1, 22, 39, 0) 0%, #011627 76.64%, #011627 100%); }

.PickTrip {
  position: relative;
  z-index: 1;
  height: 4000px;
  width: 100%;
  border: 0px; }
  .PickTrip .bg-light {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background: url("img/bgLight.webp") 0 0/cover no-repeat;
    background-color: #011627 !important; }
    .PickTrip .bg-light .wrapperPick {
      height: 50%;
      width: 70%;
      margin-top: 100px; }
      .PickTrip .bg-light .wrapperPick .pickText {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center; }
        .PickTrip .bg-light .wrapperPick .pickText .pickText1 {
          font-family: 'Noe Display', sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 72px;
          line-height: 110%;
          /* or 79px */
          text-align: center;
          letter-spacing: -0.02em;
          color: #FFFFFF; }
        .PickTrip .bg-light .wrapperPick .pickText .pickText2 {
          height: 22px;
          width: 22px;
          margin: 10px;
          border-radius: 0px; }
        .PickTrip .bg-light .wrapperPick .pickText .pickText3 {
          font-family: 'Larsseit', sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 150%;
          letter-spacing: -0.02em;
          color: #FFFFFF; }

.tab-content {
  margin-top: 100px; }

.nav-tabs {
  border: 0px; }

.nav-tabs .nav-link {
  width: 100%;
  color: #FFFFFF; }

.ul_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 70px; }

.ul_1 {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px !important;
  font-family: 'Larsseit', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 110%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  opacity: 0.5;
  border-bottom: 1px solid white !important;
  transition: .1s linear; }
  .ul_1:hover {
    color: #FFFFFF;
    opacity: 1; }

.ul_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%; }

.tabContent {
  display: flex;
  flex-direction: row; }
  .tabContent .TabLeft {
    height: 600px;
    width: 50%; }
    .tabContent .TabLeft .tabPhoto {
      height: 607px;
      width: 75%;
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-end;
      background-image: url("img/tab.webp");
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 10px;
      z-index: 2; }
      .tabContent .TabLeft .tabPhoto .arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        border-radius: 10px; }
        .tabContent .TabLeft .tabPhoto .arrow .arrow1 {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 65px;
          width: 65px;
          flex-direction: row;
          background: #011627;
          box-shadow: -10px 14px 24px rgba(1, 22, 39, 0.08);
          transform: rotate(-180deg);
          border-right: 1px solid #133149;
          border-radius: 13% 0% 0%; }
        .tabContent .TabLeft .tabPhoto .arrow .arrow2 {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 65px;
          width: 65px;
          flex-direction: row;
          background: #011627;
          box-shadow: -10px 14px 24px rgba(1, 22, 39, 0.08);
          transform: rotate(-180deg);
          border-radius: 0% 0% 25%; }
    .tabContent .TabLeft .imgTab {
      position: relative;
      bottom: 175px;
      z-index: 1;
      right: 55px; }
    .tabContent .TabLeft .numTab {
      position: relative;
      bottom: 600px;
      right: 94px;
      z-index: 3; }
      .tabContent .TabLeft .numTab .numTab1 {
        height: 20px;
        width: 200px;
        border-left: 2px solid #41EAD4;
        border-top: 2px solid #41EAD4; }
      .tabContent .TabLeft .numTab .numTab2 {
        font-family: 'Larsseit', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 150%;
        letter-spacing: 0.15em;
        color: #41EAD4; }
      .tabContent .TabLeft .numTab .numTab3 {
        width: 250px;
        font-family: 'Larsseit', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 150%;
        letter-spacing: 0.15em;
        color: #FFFFFF;
        margin-top: 10px; }
  .tabContent .TabRight {
    height: 600px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column; }
    .tabContent .TabRight .tabText1 {
      font-family: 'Noe Display', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 65px;
      line-height: 110%;
      letter-spacing: -0.02em;
      color: #FFFFFF;
      margin-left: 6%; }
    .tabContent .TabRight .tabText2 {
      font-family: 'Larsseit', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 17px;
      line-height: 150%;
      margin-top: 30px;
      letter-spacing: -0.02em;
      color: #FFFFFF;
      margin-left: 6%; }
    .tabContent .TabRight .tabText3 {
      font-family: 'Larsseit', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 150%;
      margin-top: 30px;
      letter-spacing: -0.02em;
      color: #FFFFFF;
      margin-left: 6%; }
    .tabContent .TabRight .tabButtonRight {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 65px;
      width: 287px;
      background: #00C9E0;
      box-shadow: 5px 15px 40px rgba(0, 201, 224, 0.2);
      border-radius: 183px;
      margin-top: 40px;
      margin-left: 6%;
      font-family: 'Larsseit', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 190%;
      letter-spacing: 0.15em;
      text-transform: uppercase;
      color: #FFFFFF; }
    .tabContent .TabRight .shareIT0 {
      position: relative;
      left: 90%;
      top: 50px; }
    .tabContent .TabRight .contact3 {
      height: 23px;
      width: 23px;
      margin: 5px; }

.aboutUs {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #011627 50%);
  height: 100%;
  width: 100%; }
  .aboutUs .wrapperAboutUs {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    opacity: 1;
    background-image: url("../scss/img/Imagebg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top; }
    .aboutUs .wrapperAboutUs .wrapperAboutUsG {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 250px;
      width: 100%;
      flex-direction: row; }
      .aboutUs .wrapperAboutUs .wrapperAboutUsG .aboutUsG {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; }
        .aboutUs .wrapperAboutUs .wrapperAboutUsG .aboutUsG .aboutUsPhotos {
          width: 60%; }
        .aboutUs .wrapperAboutUs .wrapperAboutUsG .aboutUsG .aboutUsText {
          height: 100%;
          width: 30%;
          margin-bottom: 200px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start; }
          .aboutUs .wrapperAboutUs .wrapperAboutUsG .aboutUsG .aboutUsText .aboutUsText1 {
            font-family: 'Noe Display', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 72px;
            line-height: 110%;
            text-align: center;
            letter-spacing: -0.02em;
            color: #FFFFFF; }
          .aboutUs .wrapperAboutUs .wrapperAboutUsG .aboutUsG .aboutUsText .aboutUsText2 {
            font-family: 'Larsseit', sans-serif;
            font-size: 18px;
            font-weight: 700;
            line-height: 27px;
            letter-spacing: -0.02em;
            text-align: left;
            color: #FFFFFF;
            margin-top: 30px; }
          .aboutUs .wrapperAboutUs .wrapperAboutUsG .aboutUsG .aboutUsText .aboutUsText3 {
            font-family: 'Larsseit', sans-serif;
            font-weight: 300;
            margin-top: 17px;
            font-size: 18px;
            letter-spacing: -0.02em;
            text-align: left;
            color: #FFFFFF; }
          .aboutUs .wrapperAboutUs .wrapperAboutUsG .aboutUsG .aboutUsText .aboutUsButton {
            margin-top: 50px;
            font-family: 'Larsseit', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 190%;
            letter-spacing: 0.15em;
            text-transform: uppercase;
            color: #FFFFFF;
            height: 65px;
            width: 100%;
            background: #00C9E0;
            box-shadow: 5px 15px 40px rgba(0, 201, 224, 0.2);
            border-radius: 183px; }

.aboutUsPhotosFlex {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; }
  .aboutUsPhotosFlex .aboutUsPhotosFlex1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .aboutUsPhotosFlex .aboutUsPhotosFlex1 .aboutUsImg {
      height: auto;
      width: 100%; }
  .aboutUsPhotosFlex .aboutUsPhotosFlex2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .aboutUsPhotosFlex .aboutUsPhotosFlex2 .aboutUsImg {
      height: auto;
      width: 100%; }

.thoughtsPeople {
  height: 1500px;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 250px;
  border-radius: 8px; }
  .thoughtsPeople .thoughtsPeopleFlex {
    background: #011627;
    height: 100%;
    width: 100%;
    border-radius: 7px; }
    .thoughtsPeople .thoughtsPeopleFlex .thoughtsPeopleText {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 20%;
      width: 100%; }
      .thoughtsPeople .thoughtsPeopleFlex .thoughtsPeopleText .thoughtsPeopleText1 {
        font-family: 'Noe Display', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 72px;
        line-height: 110%;
        text-align: center;
        letter-spacing: -0.02em;
        color: #FFFFFF; }
      .thoughtsPeople .thoughtsPeopleFlex .thoughtsPeopleText .thoughtsPeopleText2 {
        font-family: 'Larsseit', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 150%;
        text-align: center;
        letter-spacing: 0.15em;
        color: #FFFFFF; }
  .thoughtsPeople .thoughtsPeopleBlocks {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    flex-direction: column; }
    .thoughtsPeople .thoughtsPeopleBlocks .thoughtsPeopleBlocksRow {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row; }
      .thoughtsPeople .thoughtsPeopleBlocks .thoughtsPeopleBlocksRow .reviewsBlock {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 504;
        width: 35%;
        width: 35%;
        height: 504px;
        background: #02223B;
        box-shadow: 0px 20px 30px rgba(0, 201, 224, 0.03);
        border-radius: 5px;
        margin: 15px; }
        .thoughtsPeople .thoughtsPeopleBlocks .thoughtsPeopleBlocksRow .reviewsBlock .reviewsBlockText1 {
          width: 80%;
          font-family: 'Larsseit', sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 190%;
          color: #FFFFFF; }
        .thoughtsPeople .thoughtsPeopleBlocks .thoughtsPeopleBlocksRow .reviewsBlock .reviewsBlockText2 {
          margin-top: 20px;
          width: 80%;
          font-family: 'Larsseit', sans-serif;
          font-style: normal;
          font-weight: 300;
          font-size: 18px;
          line-height: 190%;
          color: #FFFFFF; }
        .thoughtsPeople .thoughtsPeopleBlocks .thoughtsPeopleBlocksRow .reviewsBlock .reviewsBlockAvatar {
          width: 80%;
          margin: 25px; }
          .thoughtsPeople .thoughtsPeopleBlocks .thoughtsPeopleBlocksRow .reviewsBlock .reviewsBlockAvatar .reviewsBlockName {
            width: 100%; }
            .thoughtsPeople .thoughtsPeopleBlocks .thoughtsPeopleBlocksRow .reviewsBlock .reviewsBlockAvatar .reviewsBlockName .reviewsName {
              display: flex;
              justify-content: center;
              align-items: center;
              margin-left: 20px;
              width: 100%;
              font-family: 'Larsseit', sans-serif;
              font-style: normal;
              font-weight: bold;
              font-size: 12px;
              line-height: 170%;
              letter-spacing: 0.15em;
              text-transform: uppercase;
              color: #FFFFFF; }

.seeText {
  width: 85%;
  background: #011627;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .seeText .seeText1 {
    font-family: 'Noe Display', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 110%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF; }
  .seeText .seeText2 {
    margin-top: 20px;
    width: 388px;
    font-family: 'Larsseit', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.07em;
    color: #FFFFFF; }
  .seeText .seeT {
    margin-top: 120px;
    height: 80px;
    width: 2px;
    background: linear-gradient(180deg, #09F4F4 0%, #00C9E0 100%);
    border-radius: 13px; }

.reviewsImage {
  position: relative;
  left: -45%;
  top: 20px; }

.footer {
  height: 500px;
  width: 85%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  align-items: baseline;
  margin-top: 70px;
  background: #011627;
  color: #FFFFFF; }
  .footer .footerFlex1 {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between; }
    .footer .footerFlex1 .footerFlex .footerText2 {
      font-family: 'Larsseit', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      text-transform: uppercase;
      color: #FFFFFF; }
    .footer .footerFlex1 .footerFlex .footerText3 {
      margin-top: 15px;
      font-family: 'Larsseit', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 19px;
      color: #FFFFFF; }

.shareIT1 {
  height: 34px;
  width: 127px;
  position: relative;
  bottom: 20px;
  right: 10px;
  border-bottom: 2px solid #41EAD4;
  border-right: 2px solid #41EAD4; }

.contact3 {
  height: 20px;
  width: 20px;
  margin: 5px; }

.copyright {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Larsseit', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF; }

.navbarLogo2 {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Noe Display', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 190%;
  position: relative;
  bottom: 20px;
  color: #FFFFFF; }

.shareIT {
  margin-bottom: 20px;
  font-family: 'Larsseit', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 0.15em;
  color: #FFFFFF; }

.shareIT1 {
  height: 34px;
  width: 117px;
  position: relative;
  bottom: 20px;
  right: 10px;
  border-bottom: 2px solid #41EAD4;
  border-right: 2px solid #41EAD4; }

.btn:focus {
  border: 0px !important; }

.btn-secondary {
  background-color: rgba(0, 0, 0, 0);
  border: 0px; }

.show > .btn-secondary.dropdown-toggle {
  background-color: rgba(0, 0, 0, 0);
  border: 0px; }

.btn-secondary.focus, .btn-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0) !important; }

.navbar-dark .navbar-toggler {
  border: 0px solid red; }

.navbar-toggler.focus {
  border: 0px; }

.c-icon {
  width: 1.8em;
  height: 1.8em; }

.btn-secondary:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border: 0px; }

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
  background-color: rgba(0, 0, 0, 0); }

.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0); }

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  width: 100%;
  height: 60px;
  border: 0px;
  background: rgba(0, 0, 0, 0);
  border-bottom: 4px solid #41EAD4 !important;
  font-family: 'Larsseit';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 200%;
  opacity: 1;
  text-align: center;
  letter-spacing: -0.02em;
  color: #41EAD4; }

@media (max-width: 550px) {
  .TextTop {
    width: 90% !important; }

  .TextTop1 {
    font-size: 60px !important;
    line-height: 60px !important; }

  .TextTop2 {
    font-size: 16px !important;
    text-align: center; }

  .navGrad {
    position: relative;
    top: 5px; }

  .pickText {
    display: flex;
    flex-direction: column; }

  .pickText1 {
    font-size: 40px !important; }

  .contactFlex {
    width: 90% !important; }

  .scroll {
    position: relative;
    right: 20px;
    bottom: 5px; }

  .pickText {
    position: relative;
    bottom: 50px; }

  .pickText3 {
    text-align: center; }

  .tabContent {
    display: flex;
    flex-direction: column !important; }

  .wrapperPick {
    width: 90% !important;
    flex-wrap: nowrap; }

  .ul_1 {
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    flex-wrap: inherit; }

  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    flex-wrap: inherit; }

  .ul_2 {
    height: 60px;
    width: 100%;
    white-space: normal; }

  .tabContent {
    display: flex;
    justify-content: center;
    align-items: center; }

  .TabLeft {
    width: 75% !important; }

  #bb {
    margin-left: 80%; }

  .tabPhoto {
    width: 100% !important; }

  .imgTab {
    left: -40px; }

  .numTab {
    right: 40px !important; }

  .TabRight {
    width: 100% !important;
    height: 850px !important; }

  .tabText1 {
    font-weight: normal !important;
    margin-top: 150px;
    font-size: 50px !important; }

  .tabButtonRight {
    height: 65px;
    width: 100%;
    margin-left: 0% !important; }

  .aboutUsText1 {
    font-weight: normal !important;
    font-size: 55px !important; }

  .aboutUsG {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column !important; }

  .aboutUsText {
    width: 90% !important; }

  .aboutUsText {
    align-items: center !important; }

  .aboutUsPhotos {
    position: relative;
    bottom: 100px;
    width: 110% !important; }

  .PickTrip {
    height: 5500px !important; }

  .thoughtsPeopleText1 {
    font-size: 35px !important;
    font-weight: normal !important; }

  .thoughtsPeopleText2 {
    margin-top: 10px;
    font-size: 15px !important; }

  .thoughtsPeopleBlocksRow {
    flex-direction: column !important; }

  .tabButtonRight {
    width: 100% !important; }

  .shareIT {
    margin-bottom: 5px !important; }

  .shareIT0 {
    position: relative;
    left: 65% !important;
    top: 50px; }

  .reviewsBlock {
    height: 100% !important;
    width: 90% !important; }

  .wrapperAboutUsG {
    margin-top: 50px !important; }

  .thoughtsPeople {
    margin-top: 0px;
    width: 90% !important;
    height: auto !important; }
    .thoughtsPeople .thoughtsPeopleFlex {
      height: 100% !important; }
      .thoughtsPeople .thoughtsPeopleFlex .thoughtsPeopleText {
        height: 10% !important; }
      .thoughtsPeople .thoughtsPeopleFlex .thoughtsPeopleBlocks {
        height: 90% !important; }

  .reviewsName {
    height: auto;
    width: 100% !important; }

  .seeText1 {
    margin-top: 100px;
    font-size: 40px !important; }

  .seeText2 {
    width: 90% !important;
    margin-top: 100px;
    font-size: 20px !important; }

  .footer {
    height: auto; }
    .footer .footerFlex1 {
      justify-content: center !important;
      align-items: center !important;
      text-align: center;
      flex-direction: column !important; }
      .footer .footerFlex1 .footerFlex {
        margin-top: 40px; }
    .footer .footerText2 {
      font-size: 30px !important;
      margin-bottom: 10px; }

  .navbarLogo2 {
    font-family: 'Noe Display', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 190%;
    position: relative;
    color: #FFFFFF; }

  .reviewsImage {
    opacity: 0;
    position: relative;
    left: -45%;
    top: 20px; }

  .dropdown-menu.show {
    width: 400% !important; }

  .form-control {
    width: 500% !important; }

  a:hover {
    color: #FFFFFF; }

  .searcher {
    position: relative;
    right: 10px; } }
@media (max-width: 1200px) {
  .dropleft-text {
    width: 280% !important; } }

/*# sourceMappingURL=style.css.map */
